/* base */
html,body{
  height: 100%;
  font-size: 14px;
  color: #152935;
}
/* page content */
.page{
  background-color: #f5f7fa;
  min-height: 100%;
}
.pageCon {
  padding: 0 5%;
  padding-bottom: 20px;
}
.pageCon h2{
  padding: 20px 0 10px 0;
}
/* panel */
.panel{
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.panel .panel-heading {
  padding-top: 10px;
  padding-bottom: 15px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: solid 1px #DFE3E6;
  font-size: 16px;
  color: inherit;
  padding: 10px 15px;
}
.panel-body {
  padding: 0 15px 10px 15px;
}
/* button */
.el-button {
  border-radius: 0;
  padding: 0;
}
.el-button span {
  display: block;
  padding: 11px 12px;
  margin: 1px;
}
.el-button--primary, .el-button--primary:focus {
  background-color: #3D70B2;
  border-color: #3D70B2;
}
.el-button--primary:hover{
  background-color: #5596E6;
  border-color: #5596E6;
}
.el-button--primary:active:focus{
  background-color: #fff;
  border-color: #5596E6;
}
.el-button--primary:active:focus span{
  background-color: #5596E6;
}
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:hover{
  background-color: #3D70B2;
  border-color: #3D70B2;
}
.el-button--primary.is-plain,
.el-button--primary.is-plain.is-disabled,
.el-button--primary.is-plain.is-disabled:hover {
  background-color: transparent;
  border-color: #3D70B2;
  color: #3D70B2;
}
.el-button--primary.is-plain:hover,
.el-button--primary.is-plain:active,
.el-button--primary.is-plain:active:focus {
  color: #fff;
  background-color: #3D70B2;
  border-color: #3D70B2;
}
.el-button--primary.is-plain:focus span{
  background-color: transparent;
}
.el-button--primary.is-disabled,
.el-button--primary.is-plain.is-disabled {
  opacity: 0.5;
}
.table-head{
  display: table;
  width: 100%;
}
.table-head_L, .table-head_R{
  display: table-cell;
}
.table-head_L .el-button {
  margin: 0;
}
.searchBar {
  max-width: 300px;
}
.searchBar .el-input__suffix {
  right: -25px;
}
.searchBar .el-input {
  min-width: 30px;
  overflow: hidden;
}
.searchBar .el-input-group__append {
  background-color: transparent;
  border: 0;
}
.searchBar .el-input__inner {
  width: 0;
  padding: 0;
  border: 0;
  height: 32px;
  opacity: 0;
  margin-left: auto;
  margin-right: 0;
  background:rgba(61,112,178,.1);
}
.searchBar .el-input-group__append {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px;
  width: 30px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
}
.searchInputShow .el-input__inner {
  animation: searchTextOpen 0.5s ease;
  animation-fill-mode: forwards;
}
.searchInputHide .el-input__inner {
  animation: searchTextClose 0.5s ease;
  animation-fill-mode: forwards;
}
.searchInputShow .el-input-group__append {
  animation: searchIconOpen 0.5s ease;
  animation-fill-mode: forwards;
}
.searchInputHide .el-input-group__append {
  animation: searchIconClose 0.5s ease;
  animation-fill-mode: forwards;
}
@keyframes searchTextOpen {
  from {
    width: 0;
    padding: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    padding: 6px 0 6px 30px;
    opacity: 1;
  }
}
@keyframes searchTextClose {
  from {
    width: 100%;
    padding: 6px 0 6px 30px;
    opacity: 1;
  }
  to {
    width: 0;
    padding: 0;
    opacity: 0;
  }
}
@keyframes searchIconOpen {
  from {
    right: 0;
  }
  to {
    right: calc(100% - 30px);
  }
}
@keyframes searchIconClose {
  from {
    right: calc(100% - 30px);
  }
  to {
    right: 0;
  }
}

